.table2{
    width:95%;
    border-bottom: 1px solid #696969;
    margin-top: 50px;
    text-align:center;
    margin-left:20px;


}

.bigTitle{
    background-color: #F0F8FF;
    width: 1000px;
    height: 200px ;
    border-radius: 25px;
    margin:auto;
}

.title{
    font-size: 60px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
    padding:5px;
}
.photoTable{

}
.image{
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 660px;
    width: 50%;

}
.cropped{
    width: 600px; /* width of container /
    height: 400px; / height of container /
    object-fit: cover;
    object-position: 20% 10%; / try 20px 10px */
    border: 5px solid black;
}
.subtitle{
    text-align: center;
    font-size: 50px;
}