 <!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>MainPage</title>
    <meta name="description" content="Najlepsza agencja podróżnicza"/>
    <meta name="keywords" content="spędź z nami super wakacje"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}" type="text/css"/>

</head>

<body>



<div class="bigTitle">
<div class="title" th:text="|Autor galerii:   ${username}|" > imie usera
</div>

<div class="title" th:text="|Index galerii:   ${galleryId}|" > id galerii
</div>
</div>
<div class="photoTable" th:each="photo : ${photos}">




    <table class="table table2">
        <tr>
            <div class="image"> <img class="cropped" th:src="@{|/user-photos/${photo.imgUrl}|}" src="#" alt="photo"/></div>
            <div class="subtitle">
                <p th:text = "${photo.photoName}"></p>
            </div>

        </tr>



    </table>



</div>





</body>

</html>